---
import '@/styles/globals.css';
---

<main class="bg-gray-900 text-white">
  <div class="flex items-center justify-center h-screen">
    <div class="text-center">
      <h1 class="text-6xl font-bold mb-4">404</h1>
      <p class="text-2xl font-light mb-6">Page introuvable</p>
      <a
        href="/"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Retour à l'accueil
      </a>
    </div>
  </div>
</main>
