<nav class="bg-[#F9F9F9] border-b-[1px] border-[#D9D9D9] p-4">
  <ul class="flex justify-end gap-4 p-4">
    <li><a href="#">Profil</a></li>
    <li><a href="#">Mes compétences</a></li>
    <li><a href="#">Mes projets</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
